.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/photo-1498050108023-c5249f4df085.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 476px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: 124px 543px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 467px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 343px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 435px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 446px;
  pointer-events: auto;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 37px auto 0 241px;
}

.u-section-2 .u-text-1 {
  margin: 19px 106px 0 120px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 48px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 445px;
  pointer-events: auto;
  background-image: url("images/GettyImages-1086740226-5c2d625a4cedfd00016ed36c.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 70px;
    margin-right: 56px;
  }

  .u-section-2 .u-image-1 {
    min-height: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 507px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 45px;
    margin-right: 31px;
  }

  .u-section-2 .u-image-1 {
    min-height: 281px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 643px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 422px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 492px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 266px;
  }
}.u-section-3 {
  min-height: 863px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  pointer-events: auto;
  min-height: 439px;
  background-image: url("images/indir5.jfif");
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 439px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 54px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 80px auto 0 calc(((100% - 1140px) / 2) + 242px);
}

.u-section-3 .u-image-2 {
  width: 650px;
  height: 422px;
  margin: -128px 0 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -255px calc(((100% - 1140px) / 2) + 661px) 0 calc(((100% - 1140px) / 2) + 53px);
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 49px calc(((100% - 1140px) / 2) + 609px) 91px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 786px;
  }

  .u-section-3 .u-image-1 {
    min-height: 362px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 362px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: calc(((100% - 940px) / 2) + 233px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 185px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 514px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 409px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 701px;
  }

  .u-section-3 .u-image-1 {
    min-height: 277px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: calc(((100% - 720px) / 2) + 233px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 185px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 294px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 189px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 869px;
  }

  .u-section-3 .u-image-1 {
    min-height: 416px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: calc(((100% - 540px) / 2) + 233px);
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 351px;
    margin-right: calc(((100% - 540px) / 2) + 185px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -184px;
    margin-right: calc(((100% - 540px) / 2) + 114px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 9px);
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 585px;
  }

  .u-section-3 .u-image-1 {
    min-height: 262px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: calc(((100% - 340px) / 2) + 233px);
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 221px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -54px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-4 {
  min-height: 413px;
}

.u-section-4 .u-image-1 {
  width: 650px;
  left: 0;
  right: auto;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 40px calc(((100% - 1140px) / 2) + 220px) 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 39px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 653px);
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 39px calc(((100% - 1140px) / 2) + 8px) 60px calc(((100% - 1140px) / 2) + 600px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 326px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: calc(((100% - 940px) / 2) + 220px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 453px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 408px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 325px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: calc(((100% - 720px) / 2) + 220px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 233px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 188px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2) + 220px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 53px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 8px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-icon-1 {
    margin-right: calc(((100% - 340px) / 2) + 220px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}